<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
    </head>
    <body>
        {% include "nav.html" %}

        <!-- 여기는 이미지 -->
        <img src="/main.PNG">

        <!-- 오늘의 추천 문제 -->
        <div class="row m-8">
            <div class="col px-md-5">
                <h1>오늘의 추천</h1>
                <img src="/main2.PNG">
                <div style="margin-top: 6px;">
                    <h3> [ Level 5 ] C++</h3>
                    고대 유적의 석판을 해석하라! <br />
                    고고학자로서 숨겨진 고대 유적의 죠르디를 찾아낸 당신! <br />
                    죠르디의 문제를 풀고 죠르디의 유물을 들고 나오도록 하여라! <br />
                </div>
                <div style="margin-top: 6px;">
                    맞은사람 : 33명
                </div>
            </div>

            <div class="col px-md-5">
                <div style="margin: 3px">
                    <div style="float: left; clear: both;">
                        <img src="/main3.PNG">
                        <div>
                            <h3> [ Level 1 ] </h3>
                            <p>죠르디 인형 만들기</p>
                        </div>
                    </div>
                </div>
                <div style="margin: 3px">
                    <div style="float: left; clear: both; width: 100%;">
                        <img src="/main3.PNG">
                            <h3> [ Level 1 ] </h3>
                            죠르디 인형 만들기
                    </div>
                </div>
                <div style="margin: 3px">
                    <div style="margin-top: 6px; float: left; clear: both;">
                        <img src="/main3.PNG">
                        <div>
                            <h3> [ Level 1 ] </h3>
                            죠르디 인형 만들기
                        </div>
                    </div>
                </div>
                <!-- <div style="margin: 3px">
                    <img src="/main4.PNG">
                    <div style="margin-top: 6px;">
                        <h3> [ Level 2 ] </h3>
                        죠르디와 함께 춤을
                    </div>
                </div>
                <div style="margin: 3px">
                    <img src="/main5.PNG">
                    <div style="margin-top: 6px;">
                        <h3> [ Level 3 ] </h3>
                        최단거리로 죠르디 만들기
                    </div>
                </div> -->
            </div>
        </div>

    </body>
</html>